.info {
    display: flex;
}

.info img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}

.icons {
    margin-left: 8px;
}
.place {
    margin-left: 4px;
}

.info-details {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(224, 255, 255, 0.199);
    border-radius: 8px;
}

.details {
    font-size: 18px;
    margin-left: 20px;
}