.activity-btn {
    background-color: rgba(28, 223, 44, 0.884);
    font-weight: 600;
    width: 100%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.activity-btn:hover {
    background-color: rgba(0, 128, 0, 0.808);
}