.club-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px;
}

.details-info-container {
    background-color: rgba(137, 43, 226, 0.527);
    padding: 20px 10px;
}


/* 
@media only screen and (max-width: 576px) {
    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }
} */