.club-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px;
}

.details-info-container {
    background-color: rgba(198, 158, 236, 0.678);
    padding: 20px 10px;
}


/* 
@media only screen and (max-width: 992px) {
    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }
} */
/* 
@media only screen and (max-width: 576px) {
    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }
} */ 
/* 
@media only screen and (min-width : 576px) {
    .details-info-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 200px;
        height: 250px;
    }    
    
} */