
.club-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 50px;
}

.details-info-container {
    background-color: lightblue;
    padding: 20px 10px;
}

.activity-btn {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 255, 0.664);
    margin-top: 20px;
}

.activity-btn:hover {
    background-color: rgba(0, 128, 0, 0.856);
}


/* phone device responsive  */

@media only screen and (max-width: 767px) {
    .club-container {
        grid-template-columns: 1fr;
    }
    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .activity-btn {
        margin-top: 0;
    }
}


/* table device responsive */

@media only screen and (max-width: 900px) and (min-width: 768px) {
    .club-container {
        grid-template-columns: 2fr 1fr;
    }
    .exercise-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
