.header-text {
    color: white;
    font-weight: 700;
    margin-left: 10px;
    padding: 0 8px;
}

.logo-img img {
    width: 60px;
    height: 50px;
    border-radius: 10px;
    margin-top: 16px;
}

.header-container {
    padding: 10px 25px;
    background-color: rgba(253, 173, 173, 0.705);
}

.club-text-title {
    color: white;
    margin-top: 5px;
    font-weight: 600;
}

/* responsive view  */

@media only screen and (max-width: 767px) {
    .header-text, .club-text-title {
        font-size: 14px;
    }
}