
.execrise {
    border: 1px solid lightgray;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 515px;
}

.execrise img{
    width: 100%;
    height: 150px;
    border-radius: 25px;
    padding: 10px;
}

.execrise-info {
    margin: 0 10px;
}

.description {
    color: gray;
}

.timing {
    margin-top: 10px;
}

.add-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    padding-top: 10px;
    font-weight: 700;
    background-color: rgba(0, 0, 255, 0.664);
    color: white;
    border-radius: 5px;
}

.add-btn:hover {
    background-color: blue;
}

@media only screen and (max-width: 767px) {
    .execrise {
        height: 450px;
    }
}