.text {
    text-align: center;
    color: rgb(3, 36, 80);
}

.text-line {
    border-bottom: 2px solid green;
    margin: 0 20px;
    color: coral;
    padding-bottom: 5px;
}


.question {
    margin-top: 5px;
    border: 1px solid green;
    padding: 10px;
    border-radius: 20px;
    background-color: lightcyan;
}