.text {
    text-align: center;
    color: rgb(3, 36, 80);
}

.text-line {
    border-bottom: 1px solid black;
    margin: 0 20px;
    color: blue;
    padding-bottom: 5px;
}


.question {
    margin-top: 15px;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 20px;
    background-color: lightblue;
}